# vim: set ft=ruby:

data_storage_directory '/tmp/dashboard'

plugin LoadAverages

plugin DiskUsage

plugin CodeCoverage do
  name      'Coverage: Dashboard Client'
  directory '.'
  rcov_opts %w[-Ilib -x '\btest\/' -x '\bgems\/' ./test/*/*.rb]
  every     3.hours
end

plugin YahooWeather do
  persistent false
  woeid 667931
  unit  'c'
end

plugin PkwdeLiveData do
  database_config '/data/web/pkwde/current/services/search_service/config/database.yml'
end
